@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

$site-width: 1200px;
$hero-width: 1600px;
$profile-image-width: 300px;

$gutter: 8px;
$gray: #333;
$primary: #1977f3;
$primary-light: #eef5fe;

$small-breakpoint: 500px;
$medium-breakpoint: 960px;

.app {
  * {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
  }
}

// NAV //
.nav {
  background-color: $primary-light;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.nav__logo__text {
  margin-top: 0;
}

.nav__logo__header {
  margin-bottom: 0;
}

.nav__logo__header--skinny {
  font-weight: 500;
}

.menu {
  display: flex;
  list-style: none;
}

.menu__item {
  margin-right: 1rem;
  padding: $gutter;
  border-radius: 6px; // intentionally not standard 10px as the sampel img doesnt look 10px //
  &:hover {
    background-color: $primary;
    color: white;
  }
}

// HEADER //
.heroImage {
  width: 100%;
  max-width: $hero-width;
  padding: 0rem 3rem;
  margin-bottom: 0rem;
}

// SITE //
.site {
  max-width: $site-width;
  display: flex;
  margin: auto;
}

.site__header {
  margin-top: 0rem;
}

.site__img {
  max-width: $profile-image-width;
  max-height: $profile-image-width;
  padding: 1rem;
}

.site__img--round {
  border-radius: 50%;
}

// FOOTER //
.footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  background-color: $primary;
}

.links__footer {
  margin-left: 1rem;
  text-decoration: none;
  color: white;
}

// RESPONSIVNESS //
@media screen and (max-width: $medium-breakpoint) {
  $site-width: 720px;
  $hero-width: 960px;
  $profile-image-width: 180px;
  .site {
    max-width: $site-width;
  }
  .heroImage {
    max-width: $hero-width;
  }
  .site__img {
    max-width: $profile-image-width;
    max-height: $profile-image-width;
  }
}
@media screen and (max-width: $small-breakpoint) {
  $site-width: 372px;
  $hero-width: 500px;
  $profile-image-width: 93px;
  .site {
    max-width: $site-width;
  }
  .heroImage {
    max-width: $hero-width;
    padding: 0;
  }
  .site__img {
    max-width: $profile-image-width;
    max-height: $profile-image-width;
  }
  .nav {
    display: none;
  }
}
